<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      font-family: "Verdana";
      text-align: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    .cities{
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      font-size: 0;
    }
    .table{
      display: inline-block;
      border-collapse: collapse;
    }
    td,th{
      border: 1px solid #000;
      padding: 5px;    
    }
    .table-half{
      width: 49%;
      font-size: 18px;
    }

  </style>
</head>

<body>
  <h1>Аналитика по зарплатам и городам для профессии {{prof}}</h1>
  <img src="file:///D:/Git/python/2.1/{{ image_file }}" alt="">

  <h2>Статистика по годам</h2>

  <table class="table">
    <thead>
      <th>Год</th>
      <th>Средняя зарплата</th>
      <th>Средняя зарплата - {{prof}}</th>
      <th>Количество вакансий</th>
      <th>Количество вакансий - {{prof}}</th>
    </thead>
    <tbody>
      {%for i in data%}
      <tr>
        {%for i_data in i%}
          <td>{{i_data}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </tbody>
  </table>

  <h2>Статистика по городам</h2>
  <div class="cities">
    <table class="table table-half" style="margin-right: 10px;">
      <thead>
        <th >Город</th>
        <th >Уровень зарплат</th>
      </thead>
      <tbody>
        {%for i in salarySities%}
        <tr>
          {%for i_data in i%}
          <td  style="width:350px ;">{{i_data}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <table class="table table-half">
      <thead>
        <th>Город</th>
        <th>Доля вакансий</th>
      </thead>
      <tbody>
        {%for i in amountCities%}
        <tr>
          {%for i_data in i%}
          <td style="width:350px ;">{{i_data}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</body>

</html>